name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'helm/**'
      - '.github/workflows/**'
      - 'README.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22
      
      - name: Build the Go application
        run: go build -o go-web-app .

      - name: Run tests
        run: go test ./...
      
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.64.0
  push:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-docker@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/go-web-app:${{github.run_id}}
          file: ./Dockerfile
  update-tag-in-helm:
    runs-on: ubuntu-latest
    needs: push
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}

      - name: Update image tag in Helm values.yaml
        run: |
          sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' ./helm/go-web-app-chart/values.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "suriyaa032004"
          git config --global user.email "suriyaa032004@gmail.com"
          git add ./helm/go-web-app-chart/values.yaml
          git commit -m "Update image tag to ${{ github.run_id }} in Helm values.yaml"
          git push 
